@model IEnumerable<Order>

@{
  ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<table class="table">
  <tr>
    <th>
      Id
    </th>
    <th>
      ClientId
    </th>
    <th></th>
  </tr>
  @foreach (var item in Model)
  {
    @*@Html.Hidden("lines", Enumerable.Empty<OrderLine>())*@
    //var orderLines = item.OrderLines;
    <tr>
      <td>
        @Html.DisplayFor(x => item.Id)
      </td>
      <td>
        @Html.DisplayFor(x => item.Client.Id)
      </td>
      <td>
        <button id="editBtn" onclick="ShowOrderLines()">Edit</button>
        <button id="deleteBtn">Delete</button>
      </td>
    </tr>
  }
</table>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <th>
            Id
          </th>
          <th>
            ItemId
          </th>
          <th>
            OrderId
          </th>
          <th>
            Quantity
          </th>
        </tr>
        @foreach (var item in Model.First().OrderLines)
        {
          <tr>
            <td><input type="text" value="@item.Id" /></td>
            <td><input type="number" value="@item.Item.Id" /></td>
            <td><input type="text" value="@item.Order.Id" /></td>
            <td><input type="number" value="@item.Quantity" /></td>
          </tr>
        }
      </table>
    </div>
    <div class="modal-footer">
      <button>Save</button>
    </div>
  </div>
</div>
